section {
  background-color: #efefef;
  padding: 110px 0;
  display: flex;
  margin-bottom: 30px;

  .cards {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    position: relative;
    right: -250px;
    .cards_container {
      position: relative;
      top: -20px;
    }
  }
  .info {
    padding-inline-end: 70px;
    padding-inline-start: 250px;
    padding-top: 57px;
    padding-bottom: 140px;
    background-color: #f215b6;
    width: 60%;
    h2 {
      font-size: 55px;
      line-height: 80px;
      color: #253776;
      text-align: end;
      margin: 0 0 50px;
    }

    p {
      color: #ffffff;
      font-size: 28px;
      line-height: 38px;
      text-align: end;
      margin: 0;
    }
  }
}
