<section>
  <div class="cards">
    @for (group of groupedItems; track $index) {
      <div class="cards_container" [style.paddingTop]="120 * $index + 'px'">
        @for (item of group; track $index) {
          <app-card [item]="item"></app-card>
        }
      </div>
    }
  </div>

  <div class="info">
    <h2>
      We Deliver Digital Productivity
    </h2>

    <p>
      We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners.
    </p>
  </div>
</section>