<nav>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/imgs/logo.png" alt="Link Development Logo" />
      </a>
    </div>

    <div class="page_links">
      <ul>
        @for (item of links; track $index) {
        <li>
          <a [routerLink]="item.url">
            {{ item.label }}
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="actions">
      <a routerLink="/"> Login </a>

      <a routerLink="/" class="border-link"> Sign up </a>

      <div>
        <p-dropdown
          [options]="langs"
          [(ngModel)]="selectedLang"
        />
      </div>
    </div>
  </div>
</nav>
